flows.json
[{"id":"93ce88dd.328c28","type":"tab","label":"Manual Switches","disabled":false,"info":""},{"id":"c115ef4.82cf31","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"46c141d5.30aa9","type":"tab","label":"Media Events","disabled":false,"info":""},{"id":"d533f929.6b7398","type":"tab","label":"Timed Events","disabled":false,"info":""},{"id":"2e2f0e1d.4eb9f2","type":"server","z":"","name":"Home Assistant"},{"id":"7037f3bc.72b58c","type":"MySQLdatabase","z":"","host":"10.10.10.234","port":"3306","db":"hassio","tz":""},{"id":"e546fdf6.ba61a","type":"mqtt-broker","z":"","name":"","broker":"10.10.10.234","port":"21883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bb22e775.e9e7e8","type":"MySQLdatabase","z":"","host":"10.10.10.234","port":"3306","db":"ha","tz":""},{"id":"63c95c62.a59534","type":"server-state-changed","z":"c115ef4.82cf31","name":"Human State Change","server":"2e2f0e1d.4eb9f2","version":1,"entityidfilter":"group.humans","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":120,"y":240,"wires":[["9faafbe1.5f40c8"]]},{"id":"e298d1bf.3796f","type":"api-call-service","z":"c115ef4.82cf31","name":"Sink Left On","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.sink_left","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":730,"y":100,"wires":[[]]},{"id":"efabf799.56ea28","type":"api-call-service","z":"c115ef4.82cf31","name":"Sink Right On","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.sink_right","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":140,"wires":[[]]},{"id":"fb6717aa.bdb008","type":"api-call-service","z":"c115ef4.82cf31","name":"Stove Left On","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.stove_left","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":180,"wires":[[]]},{"id":"727e12cd.f3732c","type":"api-call-service","z":"c115ef4.82cf31","name":"Stove Right On","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.stove_right","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":220,"wires":[[]]},{"id":"3b7a8d65.8c1e92","type":"api-call-service","z":"c115ef4.82cf31","name":"Sink Left Off","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.sink_left","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":730,"y":440,"wires":[[]]},{"id":"b37a17f5.49df88","type":"api-call-service","z":"c115ef4.82cf31","name":"Sink Right Off","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.sink_right","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":480,"wires":[[]]},{"id":"1915d323.11055d","type":"api-call-service","z":"c115ef4.82cf31","name":"Stove Left Off","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.stove_left","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":520,"wires":[[]]},{"id":"2706731b.acbf7c","type":"api-call-service","z":"c115ef4.82cf31","name":"Stove Right Off","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.stove_right","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":560,"wires":[[]]},{"id":"7ac4f923.01f5e8","type":"api-call-service","z":"c115ef4.82cf31","name":"Pantry Off","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.pantry","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":720,"y":600,"wires":[[]]},{"id":"76cd19b3.2d2098","type":"api-call-service","z":"c115ef4.82cf31","name":"Pantry On","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.pantry","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":720,"y":260,"wires":[[]]},{"id":"663e76b0.b658e8","type":"api-call-service","z":"46c141d5.30aa9","name":"Livingroom Fan Off","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.sonoff_2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":470,"y":160,"wires":[[]]},{"id":"22f6c47f.66ef1c","type":"api-call-service","z":"46c141d5.30aa9","name":"Livingroom Fan On","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.sonoff_2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":730,"y":160,"wires":[[]]},{"id":"7517915b.7eba3","type":"delay","z":"46c141d5.30aa9","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":240,"wires":[["ebf7f28f.c79dd"]]},{"id":"ebf7f28f.c79dd","type":"api-current-state","z":"46c141d5.30aa9","name":"Livingroom Roku Playing","server":"2e2f0e1d.4eb9f2","version":1,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.living_room_roku","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":240,"wires":[["663e76b0.b658e8"],["22f6c47f.66ef1c"]]},{"id":"1fd2eb5f.816d35","type":"server-state-changed","z":"46c141d5.30aa9","name":"Livingroom Roku Playing","server":"2e2f0e1d.4eb9f2","version":1,"entityidfilter":"media_player.living_room_roku","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":130,"y":160,"wires":[["663e76b0.b658e8"],["7517915b.7eba3"]]},{"id":"91ed409e.d7955","type":"inject","z":"d533f929.6b7398","name":"1 Minute Interval","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":420,"wires":[["9a25f576.a83258","1f547eba.c223f1"]]},{"id":"9a25f576.a83258","type":"api-call-service","z":"d533f929.6b7398","name":"Refresh States","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"script","service":"refresh_devices","entityId":"script.refresh_devices","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":400,"wires":[[]]},{"id":"4c3e743a.2b081c","type":"api-call-service","z":"d533f929.6b7398","name":"Wake JW","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"script","service":"awake_jw","entityId":"script.awake_jw","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":60,"wires":[[]]},{"id":"ff415ef3.a47d1","type":"api-call-service","z":"d533f929.6b7398","name":"Wake Anthony","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"script","service":"awake_anthony","entityId":"script.awake_anthony","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":140,"wires":[[]]},{"id":"417edba6.058b04","type":"api-call-service","z":"d533f929.6b7398","name":"Nightly Shutdown","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"script","service":"cab_lights_off_night","entityId":"script.cab_lights_off_night","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":220,"wires":[[]]},{"id":"ce8b06ae.a13858","type":"api-call-service","z":"c115ef4.82cf31","name":"AD Charger Off","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.6p_charger","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":640,"wires":[[]]},{"id":"ebbd49e9.371598","type":"api-call-service","z":"c115ef4.82cf31","name":"AD Charger On","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.6p_charger","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":300,"wires":[[]]},{"id":"f73b7e96.e9b06","type":"api-call-service","z":"c115ef4.82cf31","name":"Lifx Lights Off","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.lifx_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":680,"wires":[[]]},{"id":"9faafbe1.5f40c8","type":"delay","z":"c115ef4.82cf31","name":"Temp Disconnect Delay","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":340,"wires":[["20185eb0.7248d2"]],"info":"Provides a short delay for instances where phones may temporarily disconnect from the router."},{"id":"20185eb0.7248d2","type":"api-current-state","z":"c115ef4.82cf31","name":"Home Check","server":"2e2f0e1d.4eb9f2","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.humans","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":340,"wires":[["e298d1bf.3796f","efabf799.56ea28","fb6717aa.bdb008","727e12cd.f3732c","76cd19b3.2d2098","ebbd49e9.371598","876cba2f.33e958","97d8e82a.5ec1b8","17808935.707417"],["3b7a8d65.8c1e92","b37a17f5.49df88","1915d323.11055d","2706731b.acbf7c","7ac4f923.01f5e8","ce8b06ae.a13858","f73b7e96.e9b06","39e9812c.8fb76e","17ba4d07.b82d53","56764e97.df5f4"]]},{"id":"13650e01.2d1672","type":"api-call-service","z":"46c141d5.30aa9","name":"Bedroom Fan Off","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.bedroom_fan","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":490,"y":460,"wires":[[]]},{"id":"668a72c4.710bec","type":"api-call-service","z":"46c141d5.30aa9","name":"Bedroom Fan On","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.bedroom_fan","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":730,"y":460,"wires":[[]]},{"id":"c61a40fe.088b6","type":"delay","z":"46c141d5.30aa9","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":540,"wires":[["46983b7f.0fe164"]]},{"id":"46983b7f.0fe164","type":"api-current-state","z":"46c141d5.30aa9","name":"Bedroom Roku Playing","server":"2e2f0e1d.4eb9f2","version":1,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.bedroom_roku","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":540,"wires":[["13650e01.2d1672"],["668a72c4.710bec"]]},{"id":"bbb2a676.a58898","type":"server-state-changed","z":"46c141d5.30aa9","name":"Bedroom Roku Playing","server":"2e2f0e1d.4eb9f2","version":1,"entityidfilter":"media_player.bedroom_roku","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":140,"y":460,"wires":[["13650e01.2d1672"],["c61a40fe.088b6"]]},{"id":"d6b8ab47.71ae48","type":"mysql","z":"d533f929.6b7398","mydb":"7037f3bc.72b58c","name":"","x":510,"y":280,"wires":[["d2edd970.24e3f8"]]},{"id":"8b89f0db.a0ef7","type":"function","z":"d533f929.6b7398","name":"Clean Invalid","func":"msg.topic = \"CALL hassio.clean_invalid();\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":280,"wires":[["d6b8ab47.71ae48"]]},{"id":"e71e1da2.43a07","type":"inject","z":"d533f929.6b7398","name":"1 Hour Interval","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":300,"wires":[["8b89f0db.a0ef7","e005f0fd.05435"]]},{"id":"d4b16f7c.912d2","type":"timeswitch","z":"d533f929.6b7398","name":"7:30 AM Daily","mytopic":"","lat":"35.740479","lon":"-84.020911","starttime":"450","endtime":"465","duskoff":"0","dawnoff":"0","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"x":150,"y":60,"wires":[["cd0b9df5.3f99f"]]},{"id":"cd0b9df5.3f99f","type":"rbe","z":"d533f929.6b7398","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":310,"y":60,"wires":[["236ce435.8dc5ac"]]},{"id":"dff0a98c.b4bf28","type":"timeswitch","z":"d533f929.6b7398","name":"5:00 AM Daily","mytopic":"","lat":"35.740479","lon":"-84.020911","starttime":"300","endtime":"315","duskoff":"0","dawnoff":"0","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"x":150,"y":140,"wires":[["fc02e1dd.f7b6f"]]},{"id":"fc02e1dd.f7b6f","type":"rbe","z":"d533f929.6b7398","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":310,"y":140,"wires":[["f5ebdb43.cb2158"]]},{"id":"9e00eb7c.4764e8","type":"timeswitch","z":"d533f929.6b7398","name":"1:30 AM Daily","mytopic":"","lat":"35.740479","lon":"-84.020911","starttime":"90","endtime":"105","duskoff":"0","dawnoff":"0","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"x":150,"y":220,"wires":[["5cea8d0.9357e74"]]},{"id":"5cea8d0.9357e74","type":"rbe","z":"d533f929.6b7398","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":310,"y":220,"wires":[["4b6d9b5d.d260f4"]]},{"id":"236ce435.8dc5ac","type":"switch","z":"d533f929.6b7398","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":450,"y":60,"wires":[[],["4c3e743a.2b081c"]]},{"id":"f5ebdb43.cb2158","type":"switch","z":"d533f929.6b7398","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":450,"y":140,"wires":[[],["ff415ef3.a47d1"]]},{"id":"4b6d9b5d.d260f4","type":"switch","z":"d533f929.6b7398","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":450,"y":220,"wires":[[],["417edba6.058b04"]]},{"id":"d2edd970.24e3f8","type":"mqtt out","z":"d533f929.6b7398","name":"","topic":"mysql/hassio/clean_invalid","qos":"2","retain":"false","broker":"e546fdf6.ba61a","x":720,"y":280,"wires":[]},{"id":"a2803c89.19216","type":"mysql","z":"d533f929.6b7398","mydb":"bb22e775.e9e7e8","name":"","x":510,"y":340,"wires":[["6487fd43.610f14"]]},{"id":"e005f0fd.05435","type":"function","z":"d533f929.6b7398","name":"Clean Invalid","func":"msg.topic = \"CALL ha.clean_invalid();\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["a2803c89.19216"]]},{"id":"6487fd43.610f14","type":"mqtt out","z":"d533f929.6b7398","name":"","topic":"mysql/ha/clean_invalid","qos":"2","retain":"false","broker":"e546fdf6.ba61a","x":700,"y":340,"wires":[]},{"id":"39e9812c.8fb76e","type":"api-call-service","z":"c115ef4.82cf31","name":"Hallway Switch Off","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.jasco_products_12727_in_wall_smart_switch_toggle_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":720,"wires":[[]]},{"id":"a3e91125.dfa","type":"api-call-service","z":"c115ef4.82cf31","name":"Hallway Switch On","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.jasco_products_12727_in_wall_smart_switch_toggle_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1070,"y":340,"wires":[["f5189445.806c18"]]},{"id":"eca3bf9e.965b5","type":"switch","z":"c115ef4.82cf31","name":"","property":"payload.sunInSky","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":340,"wires":[["a3e91125.dfa","2aa512d8.54ad4e"]]},{"id":"876cba2f.33e958","type":"sunpos","z":"c115ef4.82cf31","name":"","lon":"-84.02731","lat":"35.73453","start":"sunriseEnd","startoffset":0,"end":"sunsetStart","endoffset":0,"x":730,"y":340,"wires":[["eca3bf9e.965b5"]]},{"id":"f5189445.806c18","type":"delay","z":"c115ef4.82cf31","name":"5 Minute Delay","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1280,"y":340,"wires":[["9852fe2f.f988b"]]},{"id":"9852fe2f.f988b","type":"api-call-service","z":"c115ef4.82cf31","name":"Hallway Switch Off","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.jasco_products_12727_in_wall_smart_switch_toggle_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1490,"y":340,"wires":[[]]},{"id":"34c9a81e.dd8688","type":"link in","z":"c115ef4.82cf31","name":"Manual Home","links":["9e2acae1.d3a878"],"x":275,"y":160,"wires":[["876cba2f.33e958","ebbd49e9.371598","76cd19b3.2d2098","727e12cd.f3732c","fb6717aa.bdb008","efabf799.56ea28","e298d1bf.3796f","97d8e82a.5ec1b8","17808935.707417"]]},{"id":"7000dbaf.1be164","type":"link in","z":"c115ef4.82cf31","name":"Manual Away","links":["2643a508.92756a"],"x":275,"y":580,"wires":[["3b7a8d65.8c1e92","b37a17f5.49df88","1915d323.11055d","2706731b.acbf7c","7ac4f923.01f5e8","ce8b06ae.a13858","f73b7e96.e9b06","39e9812c.8fb76e","17ba4d07.b82d53","56764e97.df5f4"]]},{"id":"9e2acae1.d3a878","type":"link out","z":"93ce88dd.328c28","name":"Manual Home","links":["34c9a81e.dd8688"],"x":215,"y":120,"wires":[]},{"id":"16e1b3e3.4832cc","type":"inject","z":"93ce88dd.328c28","name":"Manual Home","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["9e2acae1.d3a878"]]},{"id":"8af83794.8502f8","type":"inject","z":"93ce88dd.328c28","name":"Manual Away","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["2643a508.92756a"]]},{"id":"2643a508.92756a","type":"link out","z":"93ce88dd.328c28","name":"Manual Away","links":["7000dbaf.1be164"],"x":215,"y":160,"wires":[]},{"id":"a529b835.a33e48","type":"inject","z":"93ce88dd.328c28","name":"Livingroom Manual Off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":120,"wires":[["638cd76e.8c3bf8"]]},{"id":"18c9a621.4dfeda","type":"inject","z":"93ce88dd.328c28","name":"Livingroom Manual On","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":160,"wires":[["9d2fa5d5.a5c438"]]},{"id":"1c93c7d8.eb7678","type":"inject","z":"93ce88dd.328c28","name":"Bedroom Manual Off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":220,"wires":[["730475f4.e043bc"]]},{"id":"e5464423.328418","type":"inject","z":"93ce88dd.328c28","name":"Bedroom Manual On","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":260,"wires":[["d031fe7c.6480a"]]},{"id":"638cd76e.8c3bf8","type":"link out","z":"93ce88dd.328c28","name":"Livingroom Manual Off","links":["66f6abb.87ceb54"],"x":575,"y":120,"wires":[]},{"id":"9d2fa5d5.a5c438","type":"link out","z":"93ce88dd.328c28","name":"Livingroom Manual On","links":["d6623619.f230e8"],"x":575,"y":160,"wires":[]},{"id":"730475f4.e043bc","type":"link out","z":"93ce88dd.328c28","name":"Bedroom Manual Off","links":["b24b80c4.db1d2"],"x":555,"y":220,"wires":[]},{"id":"d031fe7c.6480a","type":"link out","z":"93ce88dd.328c28","name":"Bedroom Manual On","links":["584cb079.721c8"],"x":555,"y":260,"wires":[]},{"id":"66f6abb.87ceb54","type":"link in","z":"46c141d5.30aa9","name":"Livingroom Manual Off","links":["638cd76e.8c3bf8"],"x":295,"y":120,"wires":[["663e76b0.b658e8"]]},{"id":"d6623619.f230e8","type":"link in","z":"46c141d5.30aa9","name":"Livingroom Manual On","links":["9d2fa5d5.a5c438"],"x":575,"y":120,"wires":[["22f6c47f.66ef1c"]]},{"id":"b24b80c4.db1d2","type":"link in","z":"46c141d5.30aa9","name":"Bedroom Manual Off","links":["730475f4.e043bc"],"x":295,"y":420,"wires":[["13650e01.2d1672"]]},{"id":"584cb079.721c8","type":"link in","z":"46c141d5.30aa9","name":"Bedroom Manual On","links":["d031fe7c.6480a"],"x":575,"y":420,"wires":[["668a72c4.710bec"]]},{"id":"98dab63e.f206c8","type":"comment","z":"93ce88dd.328c28","name":"Presence","info":"","x":100,"y":60,"wires":[]},{"id":"4d4b0f51.40d1b","type":"comment","z":"93ce88dd.328c28","name":"Fan Control","info":"","x":410,"y":60,"wires":[]},{"id":"97d8e82a.5ec1b8","type":"api-call-service","z":"c115ef4.82cf31","name":"Bedroom Fan On","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.bedroom_fan","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":750,"y":60,"wires":[[]]},{"id":"17808935.707417","type":"api-call-service","z":"c115ef4.82cf31","name":"Livingroom Fan On","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.sonoff_2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":750,"y":20,"wires":[[]]},{"id":"56764e97.df5f4","type":"api-call-service","z":"c115ef4.82cf31","name":"Bedroom Fan Off","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.bedroom_fan","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":750,"y":800,"wires":[[]]},{"id":"17ba4d07.b82d53","type":"api-call-service","z":"c115ef4.82cf31","name":"Livingroom Fan Off","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.sonoff_2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":750,"y":760,"wires":[[]]},{"id":"f54b7752.f3cf38","type":"sunpos","z":"d533f929.6b7398","name":"","lon":"-84.02086","lat":"35.74044","start":"sunriseEnd","startoffset":0,"end":"sunset","endoffset":0,"x":590,"y":460,"wires":[["873dc4c9.2d4a18"]]},{"id":"9c91650e.99b428","type":"switch","z":"d533f929.6b7398","name":"Sun Up or Down?","property":"payload.sunInSky","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":460,"wires":[["9b7badb7.ec799"],[]]},{"id":"873dc4c9.2d4a18","type":"rbe","z":"d533f929.6b7398","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload.sunInSky","x":750,"y":460,"wires":[["9c91650e.99b428"]]},{"id":"9b7badb7.ec799","type":"api-call-service","z":"d533f929.6b7398","name":"Office Lifx Off","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.office","data":"{\"transition\":60}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":440,"wires":[[]]},{"id":"1f547eba.c223f1","type":"api-current-state","z":"d533f929.6b7398","name":"Humans Home?","server":"2e2f0e1d.4eb9f2","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.humans","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":400,"y":460,"wires":[["f54b7752.f3cf38"],[]]},{"id":"2aa512d8.54ad4e","type":"api-call-service","z":"c115ef4.82cf31","name":"Lifx Lights On","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.lifx_lights","data":"{\"transition\":2,\"brightness\":255,\"rgb_color\":[255,255,255]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":400,"wires":[["99ff285f.927638"]]},{"id":"99ff285f.927638","type":"delay","z":"c115ef4.82cf31","name":"5 Minute Delay","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1280,"y":400,"wires":[["35d19b14.bd1014"]]},{"id":"35d19b14.bd1014","type":"api-call-service","z":"c115ef4.82cf31","name":"Lifx Lights On","server":"2e2f0e1d.4eb9f2","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.lifx_lights","data":"{\"transition\":10,\"brightness\":100,\"rgb_color\":[175,104,139]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1480,"y":400,"wires":[[]]},{"id":"d96072ca.d7e95","type":"inject","z":"93ce88dd.328c28","name":"Manual Awake Anthony","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":120,"wires":[["d45f7c39.5873f"]]},{"id":"43e50de9.54abf4","type":"link in","z":"d533f929.6b7398","name":"Manual Awake Anthony","links":["d45f7c39.5873f"],"x":475,"y":100,"wires":[["ff415ef3.a47d1"]]},{"id":"d45f7c39.5873f","type":"link out","z":"93ce88dd.328c28","name":"Manual Awake Anthony","links":["43e50de9.54abf4"],"x":915,"y":120,"wires":[]},{"id":"4b00d6f8.2a1ad8","type":"comment","z":"93ce88dd.328c28","name":"Timed Event","info":"","x":730,"y":60,"wires":[]},{"id":"7a96c6a9.0c33e8","type":"inject","z":"93ce88dd.328c28","name":"Nightly Shutdown","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":160,"wires":[["d36e56ee.1d6b48"]]},{"id":"d36e56ee.1d6b48","type":"link out","z":"93ce88dd.328c28","name":"Nightly Shutdown","links":["5414fcea.22d8c4"],"x":875,"y":160,"wires":[]},{"id":"5414fcea.22d8c4","type":"link in","z":"d533f929.6b7398","name":"Nightly Shutdown","links":["d36e56ee.1d6b48"],"x":475,"y":180,"wires":[["417edba6.058b04"]]},{"id":"474b6661.da6348","type":"inject","z":"93ce88dd.328c28","name":"Manual Awake JW","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":200,"wires":[["f7c9c16e.13cd9"]]},{"id":"f7c9c16e.13cd9","type":"link out","z":"93ce88dd.328c28","name":"Manual Awake JW","links":["195a74c0.06853b"],"x":915,"y":200,"wires":[]},{"id":"195a74c0.06853b","type":"link in","z":"d533f929.6b7398","name":"Manual Awake JW","links":["f7c9c16e.13cd9"],"x":475,"y":20,"wires":[["4c3e743a.2b081c"]]}]